* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PT Sans", sans-serif;
}

html {
	scroll-behavior: smooth;
}

.container {
	padding: 0 100px 0 100px;
}

nav ul,
.main-info-section {
	display: flex;
	flex-wrap: column-wrap;
	justify-content: space-between;
}

body {
	background-color: #252627; 
}

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 0;
}

.navbar {
	position: fixed;
	width: 100%;
	background-color: #181818;
	z-index: 2;
}

header h1,
header a,
.about h1,
.projects h1 {
	color: #707070;
}

li {
	list-style: none;
	margin-left: 30px;
}

a {
	padding: 30px 25px;
	background-color: none;
	letter-spacing: 2px;
	text-decoration: none;
	font-size: .9rem;
	text-transform: uppercase;
	position: relative;
	top: 50%;
	bottom: 50%;
	transform: translateY(-50%);
	transition: .5s;
}

a:hover {
	color: #181818;
}

a::before {
	content: '';
	background-color: #48cfad;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .5s;
}

a:hover::before {
	height: 100%;
}

.main-info-section {
	position: relative;
	top: 150px;
	height: calc(100vh - 81.6px);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.profile-image img {
	border-radius: 25px;
	margin-top: 50px;
}

.text {
	margin-top: 120px;
}

.text h1 {
	color: #fff;
	cursor: context-menu;
}

.text span {
	display: inline-block;
}

span:hover {
	color: #48cfad;
	transition: all .5s; 
}

span.name {
	color: #48cfad;
}

span.m-left {
	margin-left: -10px;
}

.text p {
	letter-spacing: 3px;
	word-spacing: 5px;
	color: #fff;
	opacity: .5;
}

.icons-social {
	top: 10px;
	position: relative;
}

.icons-social a {
	padding: 10px 15px;
	color: #FAFAFA;
	border: unset;
	letter-spacing: unset;
	overflow: unset;
}

.icons-social a:hover {
	color: #252627;
}

.fab {
	font-family: "Font Awesome 5 Brands";
}

.about {
	height: 100vh;
	margin-top: 100px;
	padding-top: 80px;
}

.about h1 {
	font-size: 11vw;
	z-index: 0;
	opacity: .2;
}

.projects h1 {
	font-size: 11vw;
	z-index: 0;
	opacity: .2;
	text-align: right;
}

.about-me-info {
	max-width :900px;
	background-color: #252627;
	box-shadow: 0 0 1.2rem rgba(0,0,0,.4);
	padding: 50px;
	position: relative;
	top: -70px;
	left: 50%;
	right: 50%;
	transform: translateX(-50%);
	z-index: 1;
}

.about-me-info p {
	color: #bebebe;
}

.about-me-info p:nth-child(2),
.about-me-info p:last-child {
	margin-top: 30px;
}

.about img {
	width: 300px;
	position: relative;
	top: -180px;
	left: calc(100% - 100px);
	right: calc(100% - 100px);
	transform: translateX(calc(-100% + 100px));
}

.html {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-bottom: 40px;
}

.projects {
	min-height: 100vh;
	padding: 70px 20px 0;
	margin-top: 100px;
}

.cards {
	position: relative;
	top: -60px;
	z-index: 1;
	display: flex;
	flex-flow: wrap;
	margin-top: unset;
	justify-content: center;
}

.card {
	background-color: #252627;
	box-shadow: 0 0 1.2rem rgba(0,0,0,.4);
	position: relative;
	display: inline-block;
  	margin: 10px 20px;
  	flex: 0 1 30%;
  	text-align: center;
}

.card img {
	max-width: 100%;
	min-height: 233px;
	min-width: 300px;
	width: auto;
	height: auto;
}

.card h1 {
	font-size: 2rem;
	color: #48cfad;
	opacity: 1;
	text-align: left;
	padding: 10px 15px 10px;
}

.card p {
	font-size: 1rem;
	color: #bebebe;
	text-align: left;
	padding: 10px 15px 15px;
}

.card a {
  	padding: 12px 25px;
	background-color: none;
	border: 3px solid #48cfad;
	color: #48cfad;
	font-size: .8rem;
	letter-spacing: 2px;
	top: 26px;
	overflow: hidden;
	transition: .5s;
	display: inline-block;
	position: relative;
	width: 100%;
}

.card a:hover {
	color: #181818;
}

.card a::before {
	content: '';
	background-color: #48cfad;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 0%;
	z-index: -1;
	transition: .5s;
}

.card a:hover::before {
	height: 100%;
}

.button-container {
	display: flex;
}

footer hr {
	border: 2px solid #2C2D2E;
	margin-top: 80px;
}

footer p {
	text-align: center;
	color: #707070;
	font-size: 1.2rem;
	padding: 20px 0;
}

@media screen and (min-width: 30em) {
	.container {
		padding: 0 50px 0 50px;
	}

	nav ul {
		display: none;
	}

	.main-info-section {
		top: 10px;
	}

	.text h1 {
		font-size: 3rem;
	}

	.text p {
		font-size: 0.9rem;
	}

	.icons-social a {
		font-size: 2rem;
	}

	.profile-image img {
		width: 300px;
	}

	.about {
		height: 100vh;
		margin-top: 200px;
		padding-top: 80px;
	}

	.about-me-info {
		top: -20px;
	}

	.about-me-info p {
		font-size: 1rem;
	}

	.about img {
		width: 150px;
		top: -40px;
	}

	.projects {
		margin-top: 10px;
	}

	.cards {
		top: -30px;
	}

    .card {
       max-width: 300px;
    }
}
 
@media screen and (min-width: 60em) {

	.container {
		padding: 0 100px 0 100px;
	}

	nav ul {
		display: flex;
	}

	.text h1 {
		font-size: 3rem;
	}

	.text p {
		font-size: 1rem;
	}

	.main-info-section {
		top: 150px;
	}

	.icons-social a {
		font-size: 2.8rem;
	}

	.profile-image img {
		width: 650px;
	}

	.about {
	margin-top: 100px;
	padding-top: 80px;
	}
	.about-me-info p {
		font-size: 1.3rem;
	}

	.about-me-info {
		top: -65px;
	}

	.about img {
		width: 300px;
		top: -180px;
	}

	.projects {
		margin-top: 100px;
		padding: 70px 20px 0;
	}

	.cards {
		top: -70px;
	}

    .card {
		max-width: calc(50% - 1em);
		display: flex;
		flex-wrap: wrap;
		
	}

	.card img,
	.card div{
		flex-grow: 1;
	}



}




















